/* =================================
  Button Transitions
==================================== */

.button {
	opacity: 0.25;
	background: rgba(74, 137,202, 1);
	color: #fff;
	transition-property: opacity, background, box-shadow;
	transition-duration: .5s;
	transition-delay: .2s, .2s, 0s;
}

.button:hover {
	background: rgba(74, 137,202, 1);
	box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
}

/* =================================
  Photo Overlay Transitions
==================================== */

.photo-overlay {
	opacity: 0;
	transition: opacity .5s;
}

.photo-overlay:hover,
.button:hover {
	opacity: 1;
}

.btn-icon {
	transition-property: opacity, left;
	transition-duration: .5s;
	transition-delay: .3s;
	transition-timing-function: cubic-bezier(.6,1.5,.6,1);
}

.button:hover .btn-icon {
	opacity: 1;
	left: 80%;
}

/* =================================
  Image Transforms and Transitions
==================================== */
.photo {
	transition: transform .5s cubic-bezier(.7,-0.39,.31,1.38);
	transform-origin: bottom;
}

.photo:hover {
	transform: scale(1.1) rotate(-3deg);
/*transform: translateX(45px); moves content up, down, side to side
<---just leaving
this here for reference.*/
}
